.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  height: 200px; 
  object-fit: cover; 
}

.project-link {
  margin-top: auto;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}