@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --cor-primaria: #1E1E1E;
  --cor-secundaria: #E493B3;
  --cor-terciaria: #171717;
  --cor-text: #F8F4EC;
  --cor-hover: #3c2a21;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-text);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
body.carregado {
  opacity: 1;
}

/* txt animado */
.container_about h1 {
  display: block;

  border-right: 8px solid var(--cor-secundaria);
  width: 26ch;
  white-space: nowrap;

  overflow: hidden;

  animation: mark .5s step-end infinite, write 7s steps(22,end) infinite;
}

@keyframes mark {
  50%{
    border-right-color: transparent ;
  }
}

@keyframes write {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  70% {
    width: 26ch;
  }
  85% {
    width: 26ch;
  }
  100% {
    width: 0;
  }
}
@media (max-width: 768px) {
  .container_about h1 {
    font-size: 1.3em; 
  }
}
/* Header */
.header {
  background-color: var(--cor-secundaria);
}
.header a {
  color: var(--cor-text);
  font-weight: 500;
}

/* Main Inicial */
.links_about a {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  padding: 0.5rem;
}

.links_about a:hover {
  background-color: #EEA5A6;
}
@media (max-width: 768px) {
  .links_about a {
    padding: 0.4rem;
  }
}
.container_image img {
  border-radius: 100%;
  position: relative;
  max-width: 300px;
  height: 340px;
  overflow: hidden;

}

.animated-image {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.animated-image:hover {
  opacity: 0.5;
}
/* Container about */
.about_text {
  max-width: 600px;
}
.container-contact a, span {
  color: #ffffff;
}
@media (max-width: 576px) { 
  .about_text {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .container-contact {
    height: auto; /* Define a altura automática em telas menores */
  }
}
@media (min-width: 769px) {
  .container-contact {
    height: 70vh; /* Define a altura total da tela em telas maiores */
  }
}

/* Projetos */

.project-link a {
  text-decoration: none;
  color: var(--cor-text);
  font-weight: 500;
  background-color: #E493B3;
  padding: 0.5rem;
  border-radius: 10px;
}
.project-link a:hover {
  background-color:#EEA5A6;
}
@media (max-width: 768px){
  #projetos h3 {
    margin-top: 8rem;
  }
}

/* Servicos */
.container__servicos div {
  border: 1px solid var(--cor-secundaria);
  padding: 1rem 6.5rem;
}


/* Footer */
.footer {
  margin-top: 3rem;
  background-color: var(--cor-terciaria);
  padding: 0.3rem;
}
.footer p {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
}
