@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --cor-primaria: #1E1E1E;
  --cor-secundaria: #E493B3;
  --cor-terciaria: #171717;
  --cor-text: #F8F4EC;
  --cor-hover: #3c2a21;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-text);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
body.carregado {
  opacity: 1;
}
